/* common style seciton start  */
* {
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
}

header,
main {
    max-width: 1170px;
    margin: 0 auto;
}

.title-icon{
    color:#FF5400
}

.travel {
    color: #FF5400;
    font-family: Mulish;
    font-weight: 800;
}

.section-title {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.section-title-2 {
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin-top: 32px;
}

section {
    margin-bottom: 100px;
}
/* common style section end  */

/* header section start  */
/* nav section start  */
.nav {
    height: 50px;
    width: 100%;
    position: relative;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.nav>#nav-check {
    display: none;
}

#first-child {
    color: red;
}
/* nav section end  */

/* banner section start  */
.banner-container {
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    margin: 0 auto;
    border-radius: 10px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 26px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.chose {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.chose>input,
button,
select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    border: none;
}

.banner-button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
}
/* banner section end  */
/* header section end  */

